/*==================== JOURNAL ENTRIES ====================*/

.journal-entry {
  padding: 0 1rem;
}

.journal-entry h2 {
  font-size: 20px;
  color: #262626;
  margin-bottom: 10px;
}

.journal-entry div {
  margin: 20px 0;
}

.journal-content p {
  margin-bottom: 1.2rem;
  line-height: 1.6;
}

.back-button {
  margin-bottom: 1rem;
  background: none;
  border: none;
  color: #0077cc;
  font-size: 14px;
  cursor: pointer;
}
.back-button:hover {
  text-decoration: underline;
}
