/*==================== JOURNAL ENTRIES ====================*/

.journal-entry {
  padding: 0 1rem;
}

.journal-entry h2 {
  font-size: 20px;
  color: #262626;
  margin-bottom: 10px;
}

.journal-entry div {
  margin: 20px 0;
}

.journal-content p {
  margin-bottom: 1.2rem;
  line-height: 1.6;
}

.back-button {
  margin-bottom: 1rem;
  background: none;
  border: none;
  color: #262626;
  font-size: 14px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.back-button:hover {
  text-decoration: underline;
}

.journal-image {
  width: 100%;
  max-width: 100%;
  margin: 1rem 0;

  display: block;
}
.masonry-gallery {
  column-count: 3;
  column-gap: 1rem;
}

.masonry-photo {
  width: 100%;
  margin-bottom: 1rem;
  break-inside: avoid;
  object-fit: cover;
}

.journal-image,
.masonry-photo {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.5s ease forwards;
  animation-delay: 0.1s;
  will-change: transform, opacity;
  cursor: pointer;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
