.footer {
  padding-top: 2rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: var(--first-color);
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link {
  position: relative;
}

.footer__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--body-color-alt);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footer__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
  color: var(--first-color-second);
  transition: all 0.3s linear;
}

.footer__social:hover {
  color: var(--body-color-alt);
  transform: translateY(-10%);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--first-color-second);
  margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link {
  color: #fff;
}

/*==================== MEDIA QUERIES ====================*/
@media screen and (min-width: 790px) {
  .footer__title,
  .footer__subtitle {
    margin-left: 2rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__bg {
    padding: 3rem 0 3.5rem;
  }

  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer__socials {
    justify-self: flex-end;
  }

  .footer__copy {
    margin-top: 4.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .footer__container {
    padding: 0;
  }
}
