/*==================== BLOG CARDS ====================*/

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

.blog-preview h2 {
  font-size: 20px;
  color: #262626;
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}
